.App {
  text-align: center;
  background-color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-toolbar {
  background-color: green;
  color:black
}

.alignLeft {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  color: black
}

.alignRight {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
  color: black
}

.App-signin {
  margin-top: 80px;
  justify-content: center;
}
